- page_title "Devices"

- content_for(:action_button) do
  = link_to fa_icon("plus", class: "pe-2", text: "Add Device"), new_device_path, class: "btn btn-primary"

= turbo_frame_tag "devices" do
  = simple_form_for @search, url: devices_path, method: :get, wrapper: :inline_form, html: { id: "device_search", class: "d-flex flex-wrap gap-2 mb-2", data: { controller: "search-form autosubmit" } } do |form|
    = form.search_field :name_cont, placeholder: "Search by Name", class: "form-control search-field"
    = form.search_field :pin_eq, placeholder: "Search by Pin", class: "form-control search-field search-field-5"
    = form.input :device_type_in, collection: Device.device_types_to_collection, required: false, label: false, wrapper: :inline_form, input_html: { multiple: true, data: { controller: "select", autosubmit: true, placeholder: "All Types" }}
    = form.input :board_id_eq, collection: Board.order(:name), required: false, label: false, include_blank: "All Boards", wrapper: :inline_form, input_html: { data: { controller: "select", autosubmit: true, placeholder: "All Boards" }}
    = render "common/per_page"

  = render "devices"
