- page_title "Programs"

- content_for(:action_button) do
  = link_to fa_icon("plus", class: "pe-2", text: "Add Program"), new_program_path, class: "btn btn-primary"

= turbo_frame_tag "programs" do
  = simple_form_for @search, url: programs_path, method: :get, wrapper: :inline_form, html: { id: "program_search", class: "d-flex flex-wrap gap-2 mb-2", data: { controller: "search-form autosubmit" } } do |form|
    = form.search_field :name_cont, placeholder: "Search by Name", class: "form-control search-field"
    = form.input :program_type_eq, collection: Program.program_types_to_collection, required: false, label: false, include_blank: "All Types", wrapper: :inline_form, input_html: { data: { controller: "select", autosubmit: true, placeholder: "All Types" }}
    = render "common/per_page"

  = render "programs"
