= simple_form_for([@panel, @widget], remote: true) do |form|
  .modal-body
    = form.error_notification
    .row
      = form.input :widget_type, collection: Widget.widget_types_to_collection, wrapper_html: { class: "col-6" }
    .row
      = form.input :name, wrapper_html: { class: "col-8" }
      = form.input :show_updated, wrapper_html: { class: "col-4" }
    .row
      = form.association :device, include_blank: "Select Device...", wrapper_html: { class: "col-6" }
      = form.association :program, include_blank: "Select Program...", wrapper_html: { class: "col-6" }
    .row
      = form.input :color_1, collection: Widget.color_1s_to_collection, wrapper_html: { class: "col-6" }
      = form.input :color_2, collection: Widget.color_2s_to_collection, wrapper_html: { class: "col-6" }
    
    
  .modal-footer
    = link_to "Cancel", "#", class: "btn btn-link", data: { dismiss: "modal" }, type: "button"
    = form.button :submit, @widget.new_record? ? "Create" : "Update", class: "btn btn-primary", data: { disable_with: "Please wait…" }

:javascript
  HomeControl.Widgets.initForm();
