= turbo_frame_tag "board_logs" do
  .card.shadow
    .card-body.pt-0
      .card-title.border-bottom.pt-2.pb-2.d-flex.align-items-center
        %h3 Connection Log

      = simple_form_for @search, url: board_board_logs_path(@board), method: :get, wrapper: :inline_form, html: { id: "board_logs_search_form", class: "d-flex flex-wrap gap-2 mb-2", data: { controller: "search-form autosubmit" } } do |form|
        = form.input :connected_eq, collection: { "Connected": true, "Disconnected": false}, required: false, label: false, include_blank: "All Statuses", wrapper: :inline_form, input_html: { data: { controller: "select", autosubmit: true, placeholder: "All Statuses" }}
        = render "common/per_page"

      = render "board_logs"
