.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= sort_link @search, :name, "Name"
        %th= sort_link @search, :ip, "IP"
        %th= sort_link @search, :board_type, "Type"
        %th.text-center= sort_link @search, :connected_at, "Connected"
        %th= sort_link @search, :ssid, "SSID"
        %th.text-end= sort_link @search, :ssid, "Signal Strength"
        %th
    %tbody
      - @boards.each do |board|
        %tr.board{ id: dom_id(board), data: { board: board.json_data }}
          %td= link_to board, board, data: { turbo_frame: "_top" }
          %td= board.ip
          %td= board.board_type_to_human
          %td.text-center
            = fa_icon("check", class: "connected")
            = fa_icon("ban", class: "disconnected")
          %td.ssid
            - if board.board_type_esp?
              = board.ssid
          %td.text-end
            - if board.board_type_esp?
              %span.signal-strength
                = board.signal_strength
              \%

          %td.text-nowrap.text-end.actions
            = link_to fa_icon("pencil-alt"), edit_board_path(board), title: "Edit", class: "btn btn-sm btn-primary", data: { turbo_frame: "_top" }
            = link_to fa_icon("trash"), board, class: "ml btn btn-sm btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

.page-pagination
  .pagination-description
    = page_entries_info @boards
  = paginate @boards
