= simple_form_for(@board, remote: true) do |form|
  .modal-body
    = form.error_notification
    = form.input :name
    = form.input :ip
    = form.input :board_type, collection: Board.board_types_to_collection, input_html: { data: { reload: true }}
    - if form.object.board_type_modbus_tcp?
      .row
        .col
          = form.input :slave_address
        .col
          = form.input :data_read_interval

  .modal-footer
    = link_to "Cancel", "#", class: "btn btn-link", data: { dismiss: "modal" }, type: "button"
    = form.button :submit, @board.new_record? ? "Create" : "Update", class: "btn btn-primary", data: { disable_with: "Please wait…" }


:javascript
  HomeControl.Boards.initForm()