- page_title "Boards"

- content_for(:action_button) do
  = link_to fa_icon("plus", class: "pe-2", text: "Add Board"), new_board_path, class: "btn btn-primary"

= turbo_frame_tag "boards" do
  = simple_form_for @search, url: boards_path, method: :get, wrapper: :inline_form, html: { id: "board_search", class: "d-flex flex-wrap gap-2 mb-2", data: { controller: "search-form autosubmit" } } do |form|
    = form.search_field :name_or_ip_cont, placeholder: "Search by Name or IP", class: "form-control search-field"
    = render "common/per_page"

  = render "boards"
